.container-wrapper {
  width: 90vw;
  height: 90vh;
  display: flex;
  padding: 20px 40px;
  margin: 40px;
  background-color: #333333;
  border-radius: 30px;
  align-self: flex-start;
}

.home-wrapper {
  padding: 20px;
}

.todo-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.todo-list .home-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.home-header h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
}

.user-info-wrapper {
  position: relative;
}

.home-header .user-info {
  background: linear-gradient(
        to right,
        rgb(152, 110, 235),
        rgb(253, 104, 179),
        rgb(253, 183, 134)
      )
      padding-box padding-box,
    linear-gradient(rgb(248, 250, 252), rgb(181, 181, 206), rgb(206, 161, 226))
      border-box border-box;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 700;
  cursor: pointer;
}

.user-details {
  position: absolute;
  top: 60px;
  right: 0;
  width: 350px;
  background-color: #212121;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.todo-form {
  display: flex;
  flex-direction: column;
}

.user-details button {
  margin-top: 10px;
}

.todo-list .content {
  display: flex;
  flex-grow: 1;
  gap: 80px;
}
.todo-list .todo-items {
  width: 60%;
  height: 65vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.todo-list .todo-items::-webkit-scrollbar {
  display: none;
}

.filter {
  display: flex;
  gap: 10px;
  align-items: center;
}
.filter label,
.search .input-wrapper label {
  flex-shrink: 0;
  font-size: 18px;
  color: rgb(255 255 255 / 80%);
}
.functionality-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.functionality-div .search .input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

@media (max-width: 800px) {
  .container-wrapper {
    padding: 20px 15px;
  }
  .filter label,
  .search .input-wrapper label {
    font-size: 15px;
  }
  .input-wrapper input,
  .input-wrapper textarea,
  select {
    font-size: 0.9rem;
    padding: 7px;
  }
  .functionality-div {
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .functionality-div {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }
  .header-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .container-wrapper {
    margin: 0;
    border-radius: 0;
    height: auto;
    width: 100vw;
    padding: 20px;
  }
  .home-header h2 {
    font-size: 2rem;
  }
  .home-header .user-info {
    height: 40px;
    width: 40px;
    font-size: 2rem;
  }
  .user-details {
    width: 80vw;
  }
}
